.maxi-avatar{
  text-align: center;
  margin-bottom: 50px;

  img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-position: top;
    object-fit: cover;
  }

  .tag{
    background-color: $main-blue;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: none;
    position: relative;
    right: 69px;
    bottom: 15px;

    svg{
      color: white;
      width: 40px;
      height: 40px;
    }
  }
}

.mini-avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-position: top;
  object-fit: cover;
}

.contact-avatar{
  border-radius: 50%;
  width: 140px;
  height: 140px;
  object-position: top;
  object-fit: cover;
  margin-bottom: 40px;
}

.story-avatar{
  width: 125px;
  height: 125px;
  border: solid 2px $main-blue;
  border-radius: 50%;
  position: relative;

  img{
    width: 115px;
    height: 115px;
    border-radius: 50%;
    object-position: top;
    object-fit: cover;
    position: absolute;
    left: 5px;
    bottom: 5px;
  }
}
