.call-tab-component{
  display: flex;
  margin: 0 35px;
  background-color: $light-grey;
  border-radius: 80px;
  padding: 10px 10px;
  align-items: center;
  justify-content: space-around;

  div{
    width: 50%;

    p{
      font-family: $main-font;
      color: $font-color-para;
      font-size: 28px;
      font-weight: 500;

      text-align: center;
    }
  }

  .active-tab{
    background-color: white;
    border-radius: 200px;
  }
}
