.title {
  font-family: $main-font;
  font-weight: $font-weight-title;
  font-size: $font-size-title;
  text-align: center;
}

.subtitle{
  font-family: $main-font;
  font-weight: $font-weight-subtitle;
  font-size: $font-size-subtitle;
  margin-left: 50px;
}

.para {
  color: $font-color-para;
  font-family: $main-font;
  font-weight: $font-weight-title;
  font-size: 26px;
  text-align: center;
  margin-top: 0;
}

.view-title{
 display: flex;
 align-items: center;

 font-family: $main-font;
 font-weight: $font-weight-title;
 font-size: $font-size-view-title1;

 p{
  font-size: $font-size-view-title2;
  margin: 5px 0 0 25px;
 }
}

.count {
  font-weight: 600;
  font-size: 70px;
  font-family: $main-font;
}
