// Font-awesome
$fa-font-path: "style/fontawesome/webfonts";


// Typographie variables

$main-font: Montserrat, sans-serif;

// Title
$font-weight-title: 500;
$font-size-title: 75px;

// Sub-title
$font-weight-subtitle: 600;
$font-size-subtitle: 25px;

// View title
$font-size-view-title1: 55px;
$font-size-view-title2: 35px;

// paragraph
$font-color-para: #99A0A9;
$font-weight-para: 400;
$font-size-para: 20px;


$font-size-button: 27px;
$main-blue: #0D57DE;
$light-grey: #e7e7e7;
